<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>portezuelo</title> 
	<link rel="stylesheet" href="templates/css/default.css">
	<link rel="shortcut icon" href="templates/img/elicono.ico">
</head>
<body>	
	<section class="formulario">
		<h1> Clientes </h1>
		<form action="" method="post" id="login">
			<label for="nombre"> Nombre: </label>
			<input type="text" name="nombre" id="nombre"><br>

			<label for="direccion"> Direccion: </label>
			<input type="text" name="afiliado" id="afiliado"><br>

			<label for="telefono"> Telefono: </label>
			<input type="text" name="telefono" id="telefono"><br>

			<label for="celular"> Celular: </label>
			<input type="text" name="celular" id="celular"><br>

			<label for="provincia"> Provincia: </label>
			<input type="text" name="provincia" id="provincia"><br>

			<label for="localidad"> Localidad: </label>
			<input type="text" name="localidad" id="localidad"><br>

			<label for="cuit"> C.U.I.T: </label>
			<input type="text" name="cuit" id="cuit"><br>

			<label for="condicionDeIva"> IVA: </label>
			<input type="text" name="condicionDeIva" id="condicionDeIva"><br>



			<input type="button" name="guardar" id="guardar" value="Guardar">
		 	
		</form>
	</section>
</body>	
</html>