<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>portezuelo</title> 
	<link rel="stylesheet" href="templates/css/default.css">
	<link rel="shortcut icon" href="templates/img/icono.ico">
	<link rel="stylesheet" href="libs/css/jquery-ui-1.8.16.custom.css" />
	<link rel="stylesheet" href="libs/css/demo_table_jui.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="libs/js/jquery-ui-1.8.16.custom.min.js"></script>	
	<script src="libs/js/jquery.dataTables.min.js"></script>
	<script src="libs/js/addons.js"></script>
	<script src="libs/js/functions.js"></script>
</head>
<body>
	<header>
		<div class="left">
			<a href="accion.php?name=operadores&opcion=nuevoOperador" class="nwin" id="nuevoOperador" title="Crear Operador" rev='700,400,center,true,iframe'>Crear Operador</a>
			<a href="accion.php?name=clientes&opcion=nuevoCliente" class="nwin" id="nuevoCliente" title="Nuevo Cliente" rev='700,400,center,true,iframe'>Nuevo Cliente</a>
			<a href="accion.php?name=articulos" class="nwin" id="articulos" title="Articulos" rev='700,400,center,true,iframe'>Articulos</a>
			<a href="accion.php?name=facturas" class="nwin" id="facturas" title="Facturar" rev='700,400,center,true,iframe'>Facturar</a>
		</div>
		<div class="right">
			{menutop}
		</div>
	</header>
	<section>
		<article>
			<h2>Ultimos Clientes</h2>
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<input type="text" id="buscar">
		</article>
	</section>
	<article>
		
	</article>
	<footer>
		footer
	</footer>
</body>
</html>