<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>portezuelo</title> 
	<link rel="stylesheet" href="templates/css/default.css">
	<link rel="shortcut icon" href="templates/img/icono.ico">
	<link rel="stylesheet" href="libs/css/jquery-ui-1.8.16.custom.css" />
	<link rel="stylesheet" href="libs/css/demo_table_jui.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="libs/js/jquery-ui-1.8.16.custom.min.js"></script>	
	<script src="libs/js/jquery.dataTables.min.js"></script>
	<script src="libs/js/addons.js"></script>
	<script src="libs/js/functions.js"></script>
</head>
<body>
	<header>
		<div class="left">
			<a href="operador" class="operador"> Crear Operador</a>
			<a href="nuevoCliente" class="nuevoCliente">Nuevo Cliente</a>
			<a href="articulos" class="articulos">Articulos</a>
			<a href="factura" class="factura">Facturar</a>
		</div>
		<div class="right">
			{menutop}
		</div>
	</header>
	<section>
		<article>
			<h2>Ultimos Clientes</h2>
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Fecha</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</article>
		<article>
			<input type="text" id="buscar">
		</article>
	</section>
	<article>
		
	</article>
	<footer>
		<a href="exportarBloq" class="exportarBloq">Block de Notas</a>
		<a href="imprimir" class="imprimir">Imprimir</a>
	</footer>
</body>
</html>