<div>
	<ul class="menu">
		<li><a href="accion.php?name=clientes&opcion=nuevoCliente" class="nwin" id="nuevoCliente" title="Nuevo Cliente" rev="700,400,center,true,iframe">Nuevo Cliente</a></li>
	</ul>
	<div class="cuerpo">
		<h1>Clientes</h1>
		<table width='100%' cellspacing='0' cellpadding='0' id='clientesT'>
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Direccion</th>
					<th>Telefono</th>
					<th>Celular</th>
					<th>Provincia</th>
					<th>Localidad</th>
					<th>C.U.I.T</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
