<div>
	<ul class="menu">
		<li><a href="accion.php?name=articulos&opcion=nuevoArticulo" class="nwin" id="nuevoArticulo" title="Nuevo Articulo" rev="700,400,center,true,iframe">Nuevo Articulo</a></li>
	</ul>
	<div class="cuerpo">
		<h1>Articulos</h1>
		<table width='100%' cellspacing='0' cellpadding='0' id='articulosT'>
			<thead>
				<tr>
					<th>id</th>
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Stock</th>
					<th></th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>