<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Cuesta del Portezuelo</title> 
	<link rel="stylesheet" href="templates/css/default.css">
	<link rel="shortcut icon" href="templates/img/icon.ico">
</head>
<body>	
	<section class="formulario">
		<h1> Operador </h1>
		<form action="accion.php?name=operadores&opcion={metodo}" method="post" id="login">
			
			<label for="nombre">Nombre: </label>
			<input type="text" name="nombre" id="nombre" value="{nombre}"><br>

			<label for="domicilio">Domicilio: </label>
			<input type="text" name="domicilio" id="domicilio" value="{domicilio}"><br>

			<label for="telefono"> Telefono: </label>
			<input type="text" name="telefono" id="telefono" value="{telefono}"><br>

			<label for="tipo"> Tipo: </label>
			<input type="text" name="tipo" id="tipo" value="{tipo}"><br>

			<label for="user"> User: </label>
			<input type="text" name="user" id="user" value="{user}"><br>

			<label for="pass"> Pass: </label>
			<input type="text" name="pass" id="pass">{mensaje}<br>

			<input type="submit" name="guardar" id="guardar" value="Guardar">
		 	
		</form>
	</section>
</body>	
</html>