<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>portezuelo</title> 
	<link rel="stylesheet" href="templates/css/default.css">
	<link rel="shortcut icon" href="templates/img/icono.ico">
</head>
<body>	
	<section class="formulario">
		<h1> Operador </h1>
		<form action="" method="post" id="login">
			<label for="nombre">Nombre: </label>
			<input type="text" name="nombre" id="nombre"><br>

			<label for="domicilio">Domicilio: </label>
			<input type="text" name="domicilio" id="domicilio"><br>
			<label for="telefono"> Telefono: </label>
			<input type="text" name="telefono" id="telefono"><br>

			<label for="tipo"> Tipo: </label>
			<input type="text" name="tipo" id="tipo"><br>

			<label for="user"> User: </label>
			<input type="text" name="user" id="user"><br>

			<label for="pass"> Pass: </label>
			<input type="text" name="pass" id="pass"><br>

			<input type="button" name="guardar" id="guardar" value="Guardar">
		 	
		</form>
	</section>
</body>	
</html>