<!DOCTYPE HTML>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Cuesta del Portezuelo</title> 
	<link rel="stylesheet" href="templates/css/default.css">
	<link rel="shortcut icon" href="templates/img/icon.ico">
</head>
<body>	

	<section class="formulario">
		<h1> Remito </h1>
		<form action="" method="post" id="login">
			<label for="fecha"> Fecha: </label>
			<input type="text" name="fecha" id="fecha"><br>

			<label for="tipo"> Tipo: </label>
			<input type="text" name="tipo" id="tipo"><br>

			<label for="numero"> Numero: </label>
			<input type="text" name="numero" id="numero"><br>

			<label for="diagnostico"> Diagnostico: </label>
			<input type="text" name="diagnostico" id="diagnostico"><br>

			<label for="importe"> Importe: </label>
			<input type="text" name="importe" id="importe"><br>

			<input type="button" name="guardar" id="guardar" value="Guardar">
		 	
		</form>
	</section>
</body>	
</html>