body{
	background-color: #333;
	color: #444;
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
header,section,footer{
	display: block;
	background-color: #fff;
	margin: 5px 3%;
	padding: .5%;
	border-radius: 10px;
}
header .left, header .right, section article{
	display: inline-block;
	vertical-align: top;
	width: 49.5%;

}
header .right{
	text-align: right;
}
a{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 4px;
	text-decoration:none;
	background-color: #1d95e0; 

}
a:hover{
	background-color: #41aef2;
}
section article{
	border: 1px solid #333;
	border-radius: 10px;
	padding:5px;
	width: 48.5%;
	min-height: 400px;

}
h1,h2,h3,h4{
	padding: 2px 0 2px 30px;
	margin: 3px 0px 10px;
	border-bottom: 2px solid #006bc4;
	color: #006bc4;
}
table,th{
	border: 1px solid #333;
}
section.login{
	width: 500px;
	margin: 200px auto 0;
	padding: 20px;
	text-align: center;
}
section.formulario label, section.login label{
	width: 180px;
	text-align: right;
	display: inline-block;
	margin-bottom: 10px;
}
section.login label{
	width: 100px;
	padding: 2px 3px 8px;
}

input[type="text"], input[type="password"], select {
    border-radius: 4px;
    border: 1px solid #999999;
    color: #808080;
    font-size: 16px;
    height: 25px;
    line-height: 22px;
    margin: 0;
    outline-width: 0;
    padding: 3px;
    width: 200px;
}
input[type="text"]:focus, select:focus, textarea:focus, input[type="password"]:focus, select:focus {
    border-color: #ADD8E6;
    box-shadow: 0 0 4px #008bff;
}